* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-dark: rgb(11, 11, 11);
  --color-light: rgb(237, 237, 237);
  --hover-color: rgb(226, 226, 226);
  --error-color: rgb(225, 32, 32);
  --default-transition: all 0.2s ease-out;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  background-color: var(--color-light);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#actions-container {
  display: flex;
  gap: 0.5rem;
}

#image-container {
  position: relative;
  width: 400px;
  aspect-ratio: 1;
  color: var(--error-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

#pokemon-image {
  width: 100%;
  display: block;
  visibility: visible;
  opacity: 1;
  transition: var(--default-transition);
}

#pokemon-image.animate {
  animation: imageOnLoadAnimation 0.25s ease-out;
}

.spinner {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 5px solid rgba(255, 255, 255, 0.75);
  border-top: 5px solid var(--color-dark);
  border-radius: 50%;
  animation: spinnerAnimation 1s linear infinite;
  visibility: hidden;
  opacity: 0;
  transition: var(--default-transition);
}

.spinner.visible {
  visibility: visible;
  opacity: 1;
  transition: var(--default-transition);
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes imageOnLoadAnimation {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

button,
select {
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 0.8rem;
  text-transform: capitalize;
}

button {
  padding: 0.6rem 1.5rem;
  transition: var(--default-transition);
  background-color: var(--color-dark);
  color: var(--color-light);
}

button:hover {
  background-color: rgb(17, 17, 17);
  color: var(--color-light);
}

button:active {
  opacity: 0.5;
}

select:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

select {
  min-width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: url(https://api.iconify.design/akar-icons/chevron-down.svg)
    no-repeat;
  background-size: 1rem;
  background-position: 170px;
  transition: 0.2s ease-out;
}

select:hover {
  background-color: var(--hover-color);
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}